body {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: aquamarine;
}

:root {
  --outer-shadow: 0 0 0.1vw 0.4vw #fffb00, 0 0 0.4vw 0.6vw #000000,
    0 0 1vw 0.4vw #001214;
}

.slot {
  width: 88%;
  height: 400px;
  overflow: hidden;
  margin: auto;
  margin-top: 40px;
  background-color: beige;
  border-radius: 8px;
  box-shadow: var(--outer-shadow);
}

#slot-screen {
  height: 500px;
  position: relative;
  overflow: hidden;
}

ul {
  list-style: none;
}

ul li {
  border: 2px solid purple;
  border-radius: 5px;
  width: 98%;
  margin: 1px 0;
  background-color: aquamarine;
}

.reels {
  width: 31%;
  position: absolute;
  padding: 0px;
}

.reels:nth-child(1) {
  left: 0;
}

.reels:nth-child(2) {
  left: 34.5%;
}

.reels:nth-child(3) {
  right: 0;
}

.reels img {
  display: block;
  margin: auto;
  height: 100px;
  max-width: 80px;
  min-width: 100%;
  /* height: 240px;<~ original
  max-width: 100%; */
}

.stop-btn {
  display: inline-block;
  padding: 35px;
  margin: 40px;
  background-color: aqua;
  box-shadow: 0 0 20px 15px white, 0 0 10px 19px aqua, 0 0 13px 14px aqua; /*lil shadow*/
  border-bottom: solid 4px rgb(175, 146, 185);
  border-radius: 60px;
}

.stop-btn:hover {
  background-color: rgb(195, 0, 255);
  cursor: pointer;
  box-shadow: 0 0 29px 31px white, 0 0 19px 19px aqua, 0 0 33px 17px aqua;
  /* 0 0 29px 31px white, 0 0 19px 19px aqua, 0 0 33px 17px aqua <~ Big shadow*/
}

.stop-btn:active {
  -webkit-transform: translate(4px);
  transform: translateY(4px);
  border-bottom: none;
}

#start-btn {
  display: inline-block;
  padding: 20px 40px;
  background-color: rgb(226, 60, 226);
  border: 5px solid rgba(214, 95, 214, 0.65);
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: bold;
}

#start-btn:hover {
  background-color: rgb(226, 60, 226);
  cursor: pointer;
}

#start-btn:active {
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  border: none;
}
/* img {<~ From initial sizing test
  max-width: 80px;
  height: 100px;
  min-width: 100px;
} */
